body{
    background-color: #fff8ed;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23888786' fill-opacity='0.21' fill-rule='evenodd'/%3E%3C/svg%3E");
}
main {
    margin: 60px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-color: red;
    border-style: solid;

}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 10px 3px 3px rgba(0, 0, 0, 0.3);
    border-color: rebeccapurple;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 17px;
    overflow-wrap: break-word;
}

.producto img {
    width: auto;
    height: 30%;
    border-color: yellow;
    border-style: solid;
}

.producto button {
    padding: 10px 10px;
    border-radius: 30px;
    background-color: aqua;
}
.producto button:hover {
    background-color: rgb(20, 154, 154);
    color: yellow;
    translate: 0 4px;
    cursor: pointer;
}